@font-face {
    font-family: Gasalt-Black;
    src: url("../fonts/Gasalt-Black.ttf");
}

@font-face {
    font-family: Gasalt-Regular;
    src: url("../fonts/Gasalt-Regular.ttf");
}

body{
    background-color: lightgray;align-items:center ;
}
.content{
margin: 200px;
padding: 20px;
background: white;
height: 350px;

} 

.profile-picture{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    } 
.name{

    font-family: Gasalt-Regular;
    /* color: black; */
    text-align: center;
    font-weight: bold;

}
.bio{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

a{
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.social-link{
    color:  #3b5998;
    padding: 14px 25px; 
     display: inline-block;
    
     
    text-align: center;
    font-size: 15px;
    margin-left: 600px;

}


.social-link:hover{
    background-color:  #4c75ce;
    color: white;
    font-size: 15px;
    margin-left: 600px;
    border-radius: 40px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */

    padding: 14px 25px; 
    
}
.social-icon{ 
    float: left;
    display: block;
    width: 20px;
}